<div>
  {{#if (not (eq state.gameState GameState.Running))}}
    <div class="message">
      <p>Glimmeroids</p>

      {{#if (eq state.gameState GameState.GameOver)}}
        <p>Game over, man!</p>
        <p>{{gameOverMessage}}</p>
      {{/if}}

      <button onclick={{action startGame}}>
        {{if (eq state.gameState GameState.GameOver) "try again?" "start the game"}}
      </button>
    </div>
  {{/if}}

  <span class="score current-score" >Score: {{state.currentScore}}</span>
  <span class="score top-score" >Top Score: {{state.topScore}}</span>
  <span class="controls" >
    Use [A][W][D] or [←][↑][→] to MOVE<br/>
    Use [SPACE] to SHOOT
  </span>
  <canvas
    width={{canvasSize.width}}
    height={{canvasSize.height}}
  />
</div>
