<div>
  {{#if (eq state.inGame GameState.GameOver)}}
    <div class="endgame">
      <p>Game over, man!</p>
      <p>{{gameOverMessage}}</p>
      <button onclick={{action startGame}}>
        try again?
      </button>
    </div>
  {{/if}}

  <span class="score current-score" >Score: {{state.currentScore}}</span>
  <span class="score top-score" >Top Score: {{state.topScore}}</span>
  <span class="controls" >
    Use [A][W][D] or [←][↑][→] to MOVE<br/>
    Use [SPACE] to SHOOT
  </span>
  <canvas
    width={{canvasSize.width}}
    height={{canvasSize.height}}
  />
</div>
